<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="xmlPath" value="D:\Temp\job.xml"/>
    <add key="consumerKey" value="N2GQD4EoHKhMFDHry1EBXA"/>
    <add key="consumerSecret" value="fkaANyF9vcbFD1eG4BiFHAnNvsJqtVl3ceHLRr7nls"/>
    <add key="token" value="493799448-UhukodbdT7J2JepcMZekvDS85kFjjNCweG92YLV0"/>
    <add key="secret" value="kcY7kz26l8qgvCqkWlx9UeOPLHWVG1dkOYmZfKoR0LY"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
