<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="xmlPath" value="D:\Temp\job.xml"/>
    <add key="consumerKey" value=""/>
    <add key="consumerSecret" value=""/>
    <add key="token" value=""/>
    <add key="secret" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
